h2 {
    text-align: center;
}

.gallery {
    margin-top: 1em;
    text-align: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

.gallery img {
    margin: 0.5em;
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, .7);
    border-radius: 5px;
}

.gallery a {
    flex: 33%;
}

.gallery img:hover {
    transform: scale(0.975);
}

/*@media screen and (max-width: 770px) {*/

/*    .flex-main-with-aside {*/
/*        flex-direction: column;*/
/*        align-items: center;*/
/*    }*/
/*}*/

@media screen and (max-width: 650px) {
    .gallery a {
        width: 49%;
    }
}

@media screen and (max-width: 453px) {
    .gallery a {
        width: auto;
        /*margin: 0;*/
    }
}