#container {
    min-width: 300px;
}

table {
    border-collapse: collapse;
    border-style: hidden;
    background: #d0e7f8;
    text-align: center;
    width: 94%;
    margin: 2%;
    box-shadow: 0 1px 7px 1px rgba(0, 0, 0, .7);
    border-radius: 16px;
}

caption {
    font-size: 140%;
    margin-bottom: 0.4em;
}

th, tr, td {
    padding: 5px;
    border-right: 2px solid #d0e7f8;
    border-left: 2px solid #d0e7f8;
}

th, tr, td, tfoot {
    border-top: 2px solid #d0e7f8;
    border-bottom: 2px solid #d0e7f8;
}

td {
    color: #34495e;
    table-layout: fixed;
    word-wrap: break-word;
}

thead, tfoot {
    background-color: #007dff;
    color: white;
    font-size: 100%;
    padding: 5pt;
}

thead {
    letter-spacing: 1px;
}

tfoot > tr > td {
    border-radius: 0 0 15px 15px;
    background-color: #007dff !important;
}

tfoot a, tfoot td {
    color: white;
    text-decoration: none;
}

tr:nth-child(odd) td {
    background-color: #bcdfff;
}

th:first-of-type {
    border-radius: 15px 0 0 0;
}

th:last-of-type {
    border-radius: 0 15px 0 0;
}

#no-border-radius > th {
    border-radius: 0;
}

.content {
    word-wrap: break-word; /*old browsers*/
    overflow-wrap: break-word;
}

.overflow-wrap-hack {
    max-width: 1px;
}

@media screen and (max-width: 720px) {
    caption {
        font-size: 120%;
        margin-bottom: 0.4em;
    }
}
