table {
    border-collapse: collapse;
    border-style: hidden;
    background: #d0e7f8;
    text-align: center;
    width: 94%;
    margin: 2%;
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, .7);
    border-radius: 16px;
}

caption {
    font-size: 150%;
    margin-bottom: 0.4em;
}

th, tr, td {
    padding: 5px;
    border-right: 2px solid #d0e7f8;
    border-left: 2px solid #d0e7f8;
}

th, tr, td, tfoot {
    border-top: 2px solid #d0e7f8;
    border-bottom: 2px solid #d0e7f8;
}

td {
    color: #34495e;
}

thead, tfoot {
    background-color: #007dff;
    color: white;
    font-size: 110%;
    padding: 5pt;
}

thead {
    letter-spacing: 1px;
}

tfoot > tr > td {
    border-radius: 0 0 15px 15px;
    background-color: #007dff !important;
}

tfoot a, tfoot td {
    color: white;
    text-decoration: none;
}

tr:nth-child(odd) td {
    background-color: #bcdfff;
}

th:first-of-type {
    border-radius: 15px 0 0 0;
}

th:last-of-type {
    border-radius: 0 15px 0 0;
}

#no-border-radius > th {
    border-radius: 0;
}